{% extends 'core/base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block content %}

<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">First Name: {{ user.first_name }}</p>
            <p class="text-secondary">Last Name: {{ user.last_name }}</p>
            <p class="text-secondary">Email: {{ user.email }}</p>
            <p class="text-secondary">Bio: {{ user.profile.bio }}</p>
            <p class="text-secondary">City: {{ user.profile.city }}</p>
            <p class="text-secondary">Country: {{ user.profile.country }}</p>
            <p class="text-secondary">Website: {{ user.profile.website }}</p>
        </div>
    </div>
    <div class="content-section ml-2">
        <a class="btn btn-outline-info" href="{% url 'account:edit_profile' %}">Edit Profile</a>
        <a class="btn btn-outline-info" href="{% url 'account:change_password' %}">Change Password</a>
    </div>
</div>

<div class="content-section ml-2">
    {% for website in websites.websites.all %}
    <p>{{ website.website.title }}</p>
    <a href="{{ website.website.url }}">{{ website.website.url }}</a>
    {% if websites.saved %}
    <a href="{{ website.website.get_remove_from_profile_url }}" class="btn btn-danger btn-md my-0 p">
        Unsave
    </a>
    {% else %}
    <a href="{{ website.website.get_save_to_profile_url }}" class="btn btn-primary btn-md my-0 p">
        Save
    </a>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}
